<% title "Editar Partido" %>

<%= render :partial => 'form' %>

<p>
	<%= link_to "Eliminar", @party, :method => :delete, :confirm => "¿Estas seguro que lo deseas eliminar?" %>
</p>

<p>
  <%= link_to "Regresar a partidos", parties_path %>
</p>
