<div class="tabs"> 
	<h2>Propuestas</h2> 
	<ul> 
		<li><%= link_to "Más populares", root_path(:type => "most_viewed"), :class => tab_class(params[:type], "most_viewed") %></li> 
		<li><%= link_to "Recientes", root_path(:type => "recent"), :class => tab_class(params[:type], "recent") %></li> 
	</ul>
</div>

<div class="propuestas">
  <%= image_tag("spinner.gif", :style => "display: none;", :id => "spinner") %>
  <div id="propuestas">
    <%= render :partial => '/bills/bill', :collection => @bills %>
  </div>
</div>