<div id="rest">
  <h2 class="section">Acerca de Nosotros</h2>
  
  <div class="left">
    <div class="propuestas">
      <div id="interna" class="propuesta">
        <h2>¿Qué es micongreso.mx?</h2>
        <p>Es un espacio interactivo para que los ciudadanos podamos conocer y opinar sobre la actividad de lo que sucede y las decisiones que se toman dentro del congreso. Buscamos acercar al congreso con los ciudadanos, reducir la brecha ejerciendo nuestra ciudadanía.</p>
        
        <p>Una de las principales características de micongreso.mx es permitirnos a los ciudadanos opinar y votar de forma muy sencilla sobre las propuestas que se votan dentro del congreso y comparar la votación de cada uno de los congresistas con la votación de la ciudadanía que representan.</p>
        
        <h2>¿Quién está detrás de micongreso.mx?</h2>
        
        <p>No pertenecemos a ningún partido u organización política, simplemente somos un grupo de jóvenes entusiastas que buscamos aportar un granito de arena en la democracia de nuestro país. El proyecto es sin fines de lucro y bajo ninguna ideología política, buscamos simplemente brindar un espacio de comunicación sencillo y efectivo para la construcción de un mejor y más abierto país.</p>

        <p>¡Este espacio es de ciudadanos para ciudadanos! Los ciudadanos somos todos.</p>

        <h2>¿Cómo puedo ayudar?</h2>
        
        <p>La mejor manera de ayudar es pasando la voz. Comparte tu experiencia con más personas e invítalos a participar en micongreso.mx. El valor de esta comunidad se construye con la participación ciudadana, y es por eso que buscamos una forma sencilla y efectiva de dar tu opinión sobre las decisiones políticas que se toman en nuestro país.</p>
        
        <p>Expresar tu opinión es importante y de la misma forma en la que opinamos es como somos escuchados. Aprovecha este espacio de la mejor manera y busca influir realmente en tu sociedad.</p>
        
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>