<tr>
  <td scope="col" style="background-color:#FFF;"><img src="<%= "#{$global_url}/images/activacion.jpg" %>" width="700" height="40" alt="Activación" /></td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF; padding:25px;">
  	<p style="text-align: left;">Estimado <strong><%=h @user.name %></strong>,</p>
    <p style="text-align: left;">¡Tu cuenta en diputado virtual ha sido activada!</p>
    <p style="text-align: left;">Haz clic en la siguiente liga para empezar a participar: <%= link_to @url, @url, :style => "text-decoration: underline; color: #B63D46;" %></p>
  </td>
</tr>