<tr>
  <td scope="col" style="background-color:#FFF;"><img src="<%= "#{$global_url}/images/contrasena.jpg" %>" width="700" height="40" alt="Nueva Contraseña" /></td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF; padding:25px;">
  	<p style="text-align: left;">Estimado <strong><%= @user.name %></strong>,</p>
    <p style="text-align: left;">Tu nueva contraseña es: <%= @password %></p>
    <p style="text-align: left;"><%= link_to @url, @url, :style => "text-decoration: underline; color: #B63D46;" %></p>
  </td>
</tr>