<tr>
  <td scope="col" style="background-color:#FFF;"><img src="<%= "#{$global_url}/images/contrasena.jpg" %>" width="700" height="40" alt="Nueva Contraseña" /></td>
</tr>
<tr>
  <td scope="col" style="background-color:#FFF; padding:25px;">
  	<p style="text-align: left;">Estimado <strong><%= @user.name %></strong>,</p>
    <p style="text-align: left;">Recibimos una solicitud para cambiar tu contraseña. Si tu no realizaste esta solicitud, por favor solo ignora este correo.</p>
    <p style="text-align: left;">Si tu realizaste la solicitud para el cambio de contraseña, haz clic en la siguiente liga: 
		<%= link_to edit_password_reset_url(@user.perishable_token), edit_password_reset_url(@user.perishable_token), :style => "text-decoration: underline; color: #B63D46;" %>
  </td>
</tr>