<div id="rest">
  <h2 class="section">Registro</h2>
  
  <div class="left">
    <div class="propuestas">
      <div id="interna" class="propuesta cien">
        <%= render :partial => "form" %>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>


