<% title "Edit Term" %>

<%= render :partial => 'form' %>

<p>
  <%= link_to "Ver", @term %> |
  <%= link_to "Eliminar", @term, :method => :delete, :confirm => "¿Estas seguro que la quieres eliminar?" %> |
  <%= link_to "View All", terms_path %>
</p>
