body {
	font-family: arial;
	color: #333333;
	font-size: .8em;
	margin: 0;
	padding: 0;
	background: #5F554A;
}
p {
	line-height: 1.2em;
}
a {
	text-decoration: none;
}
a:hover {
	color: #B63D46;
}
/*LAYOUT*/
#header {
	background: #FFF;
	width: 100%;
	float: left;
	padding: 15px 0px;
	text-align: center;
}
#logo {
	float: left;
}
#main {
	background: #F1F3EE url(/images/deg2.png) repeat-x;
	width: 100%;
	float: left;
	padding: 10px 0px 20px 0px;
	text-align: center;
}
.contenido {
	width: 950px;
	margin: 0px auto;
	text-align: left;
}
/*MENU*/
#nav ul {
	margin: 25px 0 0 0;
	padding: 0;
	list-style-type: none;
	float: right;
}
#nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}
#nav ul li a {
	font-size: 1.14em;
	color: #2E2013;
	display: block;
	padding: 6px 10px;
	font-weight: bold;
}
#nav ul li a:hover {
	color: #B63D46;
}
#nav ul li.login a {
	font-size: 1em;
	font-style: italic;
	background: #EEE url(/images/deg.png) repeat-x;
	border: #CCC 1px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
}
/*PITCH*/
#pitch {
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
#pitch .left {
	float: left;
	width: 570px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin-right: 10px;
	background: #696055 url(/images/ilustra.jpg) no-repeat right center;
	padding: 22px 25px;
	_width: 614px;
	_height: 233px;
	_overflow: hidden;
}
#pitch .left h1 {
	color: #FFF;
	font-weight: normal;
	margin: 0px;
	font-size: 1.8em;
}
a.action {
	background: #502628 url(/images/deg3.png) repeat-x top left;
	color: #FFF;
	font-size: 1.3em;
	display: block;
	float: left;
	padding: 5px 15px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-bottom: 1px solid #502628;
	_border: 1px solid #502628;
	text-shadow: -1px -1px 1px #502628;
	-moz-box-shadow: 1px 0px 3px #2F2114;
	-webkit-box-shadow: 1px 0px 3px #2F2114;
}
#pitch .left p {
	color: #CAC9C1;
	font-size: 1.2em;
	_margin: 14px 0;
}
#pitch .right {
	float: left;
	width: 314px;
	background: #FFF;
	border: 3px #B63D46 solid;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}
#pitch ul {
	margin: 6px;
	padding: 0;
	list-style-type: none;
	float: left;
}
#pitch ul li {
	width: 100%;
	float: left;
}
#pitch ul li.center {
	border-top: 1px dotted #CCC;
	border-bottom: 1px dotted #CCC;
}
#pitch .right a {
	display: block;
	width: 100%;
	float: left;
}
#pitch .right a:hover {
	background: #EEE;
}
#pitch .right a h2 {
	color: #B63D46;
	margin: 10px 0 0 0;
	font-size: 1.2em;
}
#pitch .right a p {
	color: #333;
	margin: 4px 0px;
}
#pitch .right img {
	float: left;
	width: 58px;
	height: 58px;
	border: 1px solid #CCC;
	margin: 7px 15px 7px 6px;
}
/*REST*/
#rest {
	width: 944px;
	_width: 950px;
	float: left;
	background: #FFF;
	-moz-box-shadow: 1px 0px 3px #CCCBC4;
	-webkit-box-shadow: 1px 0px 3px #CCCBC4;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	_border: 1px solid #CCCBC4;
	padding: 3px;
	position: relative;
}
#rest .propuestas {
	float: left;
	width: 610px;
	background: #ECECE9;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 5px;
}
#rest .left {
	float: left;
	width: 622px;
}
#rest h2 {
	text-transform: uppercase;
	color: #2E2013;
	font-family: "union", palatino, georgia, times;
	font-size: 1.3em;
	letter-spacing: -.05em;
}
#rest .right {
	float: left;
	width: 290px;
	margin-left: 21px;
	_margin-left: 10px;
	position: relative;
	top: -10px;
	right: 0px;
}
/*TABS*/
.tabs {
	position: relative;
	float: left;
	width: 100%;
	_padding-top: 5px;
	height: 33px;
}
.tabs h2 {
	float: left;
	margin: 5px 8px;
}
.tabs ul {
	margin: 0px;
	padding: 0px;
	float: left;
	list-style-type: none;
	position: absolute;
	bottom: 0px;
	_bottom: -1px;
	left: 150px;
}
.tabs ul li {
	float: left;
	margin-left: 5px;
}
.tabs li a {
	padding: 7px 10px;
	display: block;
	color: #2F2114;
	font-weight: bold;
	font-style: italic;
}
.tabs li a:hover {
	color: #B63D46;
}
.tabs li a.active {
	background: #ECECE9;
}
/*PROPUESTAS*/
.propuesta {
	width: 580px;
	_width: 600px;
	padding: 15px;
	-moz-box-shadow: 0px 1px 3px #CCCBC4;
	-webkit-box-shadow: 0px 1px 3px #CCCBC4;
	float: left;
	background: #FFF;
	margin: 5px 0;
	position: relative;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.ribbon {
	position: absolute;
	left: -40px;
	top: 15px;
	background: url(/images/ribbon.gif);
	width: 40px;
	height: 42px;
	text-align: center;
	z-index: 200;
	color: #4A5D35;
	font-family: georgia;
}
.ribbon p {
	margin: 5px 0 0 0;
}
.propuesta h3 {
	color: #2F2114;
	font-size: 1.2em;
	font-weight: normal;
	margin: 5px 0px;
}
/*LINKS*/
ul.links li a {
	font-size: 1em;
	font-style: italic;
	display: block;
	padding: 3px 8px;
	color: #333;
}
ul.links {
	list-style-type: none;
	margin: 15px 0 0 0;
	padding: 0;
}
ul.links li {
	float: left;
	margin: 0;
	padding: 0;
	background: #EEE url(/images/deg.png) repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: block;
	border: #CCC 1px solid;
	margin-right: 6px;
}
ul.links li a.si {
	background: url(/images/si.gif) no-repeat 4px 2px;
	padding-left: 20px;
}
ul.links li a.no {
	background: url(/images/no.gif) no-repeat 4px 3px;
	padding-left: 20px;
}
ul.links li a:hover {
	color: #B63D46;
}
/*GRAFICAS*/
ul.graficas {
	margin: 10px 0 15px 0px;
	padding: 0px;
	list-style-type: none;
	border-top: 1px dotted #908A81;
	_border-top: 1px solid #EEE;
	width: 100%;
	float: left;
}
.graficas li {
	padding: 5px 0px;
	list-style-type: none;
	margin: 0px;
	border-bottom: 1px dotted #908A81;
	_border-bottom: 1px solid #EEE;
	width: 549px;
	_width: 569px;
	float: left;
	padding-left: 30px;
}
.ciudadana {
	background: #F4F4F3 url(/images/ciud.jpg) no-repeat 5px 5px;
}
.graficas li.resultados {
	padding: 5px 0px;
	font-style: italic;
}

.graficas span {
	float: left;
	width: 120px;
}
.oficial {
	background: url(/images/off.jpg) no-repeat 5px 2px;
}
.resultado_si {
	background: #F4F4F3 url(/images/ok.gif) no-repeat 5px 2px;
}
.resultado_no {
	background: #F4F4F3 url(/images/noway.gif) no-repeat 5px 2px;
}
#rest .right h2 {
	border-top: 3px solid #2E2013;
	padding: 5px 0px;
	margin: 0px;
}

.votos {
	float: left;
	width: 429px;
	color: #fff;
}

.votos .barra {
	float: left;
	padding: 2px 0px;
}

.votos .favor {
	background: #81A05A;
}

.votos .contra {
	background: #CC5477;
}

.votos .neutral {
	color: #6D6A61;
	background: #CACAC2;
}
/*NOTICIAS & USERS & TWEET*/
#noticias, #users, #tweet {
	width: 100%;
	float: left;
	margin-top: 15px;
}
#noticias ul.list {
	margin: 0px 0px 10px 0px;
	_margin: 0px;
	padding: 0px;
	list-style-type: none;
	float: left;
	width: 100%;
}
#noticias ul.list li {
	border-bottom: 1px dotted #CCC;
	padding: 8px 15px 8px 0px;
	width: 275px;
	float: left;
}
#noticias h3, #users h3 {
	font-weight: normal;
	font-size: 1em;
	margin: 0px;
}
#noticias img {
	float: left;
	width: 80px;
	height: 50px;
	margin-right: 15px;
}
#users ul.pics {
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 10px 0px;
	list-style-type: none;
	border-bottom: 1px dotted #CCC;
	width: 100%;
	float: left;
}
#users ul.pics li {
	float: left;
}
#users img {
	float: left;
	width: 40px;
	height: 40px;
	background: #EEE;
	margin-right: 1px;
	margin-bottom: 1px;
}
#tweet {
	position: relative;
}
#tweet .bird {
	position: absolute;
	top: -8px;
	left: 145px;
}

#tweet .tweets ul {
	padding: 0;
}

#tweet .tweets ul li {
	border-top: #CCC dotted 1px;
	border-bottom: #CCC dotted 1px;
	padding: 10px 0px;
	margin: 10px 0 0 0;
	list-style: none;
}
#tweet .tweets ul li a {
	color: #B63D46;
}
/*DIPUTADO BOX*/
#diputado {
	width: 188px;
	_width: 288px;
	height: 130px;
	_height: 150px;
	background: #FFF url(/images/mono.jpg) no-repeat left bottom;
	padding: 10px 15px 10px 85px;
	text-align: center;
	float: left;
	border: #CCCBC4 solid 1px;
}
#diputado p {
	float: right;
	width: 140px;
	font-size: .8em;
	font-style: italic;
}
#diputado a {
	font-size: 1em;
	font-style: italic;
	background: #EEE url(/images/deg.png) repeat-x;
	border: #CCC 1px solid;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-left: 10px;
	padding: 6px 10px;
	float: right;
	color: #333333;
	_margin-bottom: 10px;
}
#rest .right #diputado h2 {
	border-top: none;
	text-transform: none;
	text-align: right;
	margin-bottom: 7px;
}
/*FOOTER*/
#footer {
	padding: 20px 0px;
	width: 100%;
	float: left;
}


/*-------------------------------------------------
NEWS
-------------------------------------------------*/

.news h3 {
	display: inline;
}

.news_body img {
	float: left;
	margin: 0 20px 20px 0;
}

/*-------------------------------------------------
COMMENTS
-------------------------------------------------*/

.comments {
	width: 400px;
	padding: 10px;
	background: #ececec;
	border: 1px solid #bfbfbf;
}

.comment {
	padding: 10px 0;
	border-bottom: 1px solid #bfbfbf;
}

.comment h4 {
	margin: 2px 0;
}

.comment p {
	margin: 2px 0;
}

#flash_recaptcha_error {
	display: none;
}

/*-------------------------------------------------
AUTO COMPLETE
-------------------------------------------------*/

.ac_results {
	text-align: left;
	padding: 0px;
	border: 1px solid black;
	background-color: white;
	overflow: hidden;
	z-index: 99999;
}
 
.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}
 
.ac_results li {
	margin: 0px;
	padding: 8px 5px;
	cursor: default;
	display: block;
	font: menu;
	font-size: 16px;
	line-height: 16px;
	overflow: hidden;
}
 
.ac_loading {
	background: white url('/images/spinner.gif') right center no-repeat;
}
 
.ac_odd {
	background-color: #fffcf2;
}
 
.ac_over {
	background-color: #B42024;
	color: white;
}

/*-------------------------------------------------
FLASH MESSAGES
-------------------------------------------------*/

#flash_notice, #flash_error {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

/*-------------------------------------------------
USER TAGS
-------------------------------------------------*/

#tag_ids a.selected_tag {
	color: #fffeff;
	background-color: #652509;
}

/*-------------------------------------------------
VALIDATION ERRORS
-------------------------------------------------*/

.fieldWithErrors {
  display: inline;
}

#errorExplanation {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 8px;
}

#errorExplanation ul {
  margin: 2px 24px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: disc;
}
