<div id="rest">
  <h2 class="section">Reenviar correo de activación </h2>
  
  <div class="left">
    <div class="propuestas">
      <div id="interna" class="propuesta cien">
        <%= form_tag resend_activation_path do %>

					<p>Escribe la dirección correo electrónico con el que te registraste y te enviaremos de nuevo el correo de activación.</p>
				  <p>
				    <%= label_tag :email, "Correo Electrónico" %> <br />
				    <%= text_field_tag :email, nil, :class => "input" %>
				  </p>

				  <p><%= submit_tag "Reenviar correo de activacion", :class => "action" %></p>
				<% end %>
      </div>
    </div>
  </div>
  <div class="right"></div>
</div>


