<h2 class="section">Nueva Propuesta</h2>

<div class="section s-70">
  <div class="box">
    <div class="boxin">
			<%= render :partial => 'form' %>
    </div>
  </div>
</div>
<div class="section s-30"></div>