<h2 class="section">Editar Acción</h2>

<div class="section s-70">
  <div class="box">    
    <div class="boxin">
      <div class="content">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>

<div class="section s-30">
  <div class="sidebar">
    <div class="content">
    </div>
  </div>
</div>
