<% content_for :title do -%>
  Mi Congreso - Bienvenido
<% end -%>

<div id="rest">
  
  <h2 class="section">¡Bienvenido a MiCongreso!</h2>
  
  <div class="left wide">
    <div class="cien success">
        <div class="message">
          <h2>Pequeña introducción a MiCongreso</h2>
          <p>Hemos preparado una pequeña introducción a MiCongreso para que puedas empezar a participar lo más antes posible.</p>
          
          <%= image_tag("explanation.jpg") %>
          
          <div class="point">
            <div class="bullet">1</div>
            <div class="text">
              <h4>Filtrar propuestas</h4>
              <p>
                Lo más importante en MiCongreso son las propuestas, las puedes encontrar en la página principal y las puedes filtrar por
                populares, recientes, activas y cerradas. Las propuestas activas son las que todavía no se lleva a cabo la votación oficial 
                en el congreso y las cerradas por consiguiente son las que ya se votaron.
              </p>
            </div>
          </div>
          
          <div class="point">
            <div class="bullet">2</div>
            <div class="text">
              <h4>Información de la propuesta</h4>
              <p>
                En cada propuesta viene el nombre, la fecha en la que se propuso dentro de la etiqueta verde, la votación ciudadana (verde
                es a favor, rojo en contra y gris es abstención) y si la propuesta no se ha votado en el congreso se muestra la fecha en la
                que se va a votar de lo contrario se muestran las votaciones oficiales de los diputados.
              </p>
            </div>
          </div>
          
          <div class="point">
            <div class="bullet">3</div>
            <div class="text">
              <h4>¿Como votarías tu?</h4>
              <p>
                Para cada propuesta puedes votar igual que como lo hacen los diputados (a favor, en contra o abstenerte en caso de que 
                no te decidas por cual), esta información nos va a ser de gran utilidad después para comparar si los diputados representan
                realmente a la población que los eligió.
              </p>
            </div>
          </div>
          
          <div class="point">
            <div class="bullet">4</div>
            <div class="text">
              <h4>Mi Perfil</h4>
              <p>
                En la sección de Mi Perfil puedes modificar tu información personal, tu perfil ciudadano y escoger por cuáles medios deseas
                que te contactemos. ¡Próximamente estaremos integrando MiCongreso con Facebook y Twitter para que se enteren tus amigos!
              </p>
            </div>
          </div>
          
          <div class="point">
            <div class="bullet">5</div>
            <div class="text">
              <h4>Invita a tus Amigos</h4>
              <p>Entre más seamos los ciudadanos que estemos participando y opinando, mayor va a ser el impacto que pueda tener MiCongreso
              ante las decisiones de los diputados. Por esto te proveemos una manera muy fácil de que invites a tus amigos.</p>
              <p>Solo presiona el botón "Invita a tus amigos", ingresa tu usuario y contraseña de tu correo electrónico y te verás
                todos tus contactos, de ahí podrás seleccionar a cuales deseas invitar y escribirles un mensaje personalizado.</p>
              
              <p>
                <span class="important">¡Muy Importante!</span> Nos tomamos el tema de la privacidad con muchísima seriedad, nosotros en
                ningún momento almacemos tu usuario ni contraseña de tu correo electrónico y no compartimos la información de tus contactos
                con ningún tercero.
              </p>
            </div>
          </div>
          
          <div class="point last">
            <div class="bullet">6</div>
            <div class="text">
              <h4>Descubre a tu Diputado</h4>
              <p>
                ¿Sabes quien es tu diputado?, con sólo el estado y el número de la sección que vienen en tu credencial de elector
                podemos decirte quien es el diputado que actualmente representa tu distrito.
              </p>
            </div>
          </div>
          
          <div class="final">
            <p>
              Esto es solo un poco de lo que puedes hacer en MiCongreso, te invito a que lo explores y nos encantaría que nos dijeras
              como lo podemos mejorar
            </p>
            <%= link_to "¡Empieza a participar!", root_path, :class => "action", :style => "float: none; width: 200px; margin: 20px auto;" %>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


