<% title "Editar Estado" %>

<%= render :partial => 'form' %>

<p>
	<%= link_to "Eliminar", [:admin, @state], :method => :delete, :confirm => "¿Estas seguro que lo deseas eliminar?" %>
</p>

<p>
  <%= link_to "Regresar a estados", admin_states_path %>
</p>
